<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://adminopenai.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7af3c920-9abb-4a10-ac41-0c45c65bf47f/resourcegroups/jdm-rg-openai-new/providers/Microsoft.Web/sites/AdminOpenAI</ResourceId>
    <UserName>$AdminOpenAI</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://adminopenai.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>