<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://openai-embeddings20230720115953.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7af3c920-9abb-4a10-ac41-0c45c65bf47f/resourcegroups/accelerator-embedding-rg/providers/Microsoft.Web/sites/OpenAI-Embeddings20230720115953</ResourceId>
    <UserName>$OpenAI-Embeddings20230720115953</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://openai-embeddings20230720115953.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>